<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}

    {% include header.html %}

    {% include home.html %}

    <section class="success" id="people">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>People</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>All deez cool peeps</p>
                </div>
                <div class="col-lg-4">
                    <p>Shwiggity</p>
                </div>
            </div>
        </div>
    </section>
    
    {% include research.html %}

    {% include publications.html %}

    {% include news.html %}

   {% include about.html %}  

    {% include footer.html %}

    {% include modals.html %}

    {% include javascript.html %}

  </body>

</html>
